.about-wrapper{
    width: fit-content;
    padding: 60px 60px;
    background-color: rgb(17, 61, 106);
    border: #fff 2px solid;
    margin-top: 60px;
    margin-left: 133px;
  }


.about {
    width: 100vh;
  }
  
  .about li {
    font-size: 18px;
    padding: 20px;
  }
  