{% extends "homepage/homelayout.html"%}
{% block content %}
<H1 class="head-of-sec">Done Scenarios</H1>

<div class="done-scenarios">

    <div class="scenario-div">
        <div class="done-s"><p>Done</p></div>
        <div class="text-box">
            <h3 class="headofdiv">1 Scenarios left to unlock</h3>
        <p class="title">Responder I</p>
        <div class="progress-bar">
            <p>10%</p>
        </div>
        </div>
        <div class="img-container">
            <div class="imgbox-scenario">
                <img src="../static/images/icon1.png" alt="">
                </div>
        </div>
        
        </div>










        
    <div class="scenario-div">
        <div class="done-s"><p>Done</p></div>

        <div class="text-box">
            <h3 class="headofdiv">1 Scenarios left to unlock</h3>
        <p class="title">Responder I</p>
        <div class="progress-bar">
            <p>10%</p>
        </div>
        </div>
        <div class="img-container">
            <div class="imgbox-scenario">
                <img src="../static/images/icon1.png" alt="">
                </div>
        </div>
        
        </div>















        
    <div class="scenario-div">
        <div class="done-s"><p>Done</p></div>

        <div class="text-box">
            <h3 class="headofdiv">1 Scenarios left to unlock</h3>
        <p class="title">Responder I</p>
        <div class="progress-bar">
            <p>10%</p>
        </div>
        </div>
        <div class="img-container">
            <div class="imgbox-scenario">
                <img src="../static/images/icon1.png" alt="">
                </div>
        </div>
        
        </div>









        
    <div class="scenario-div">
        <div class="done-s"><p>Done</p></div>

        <div class="text-box">
            <h3 class="headofdiv">1 Scenarios left to unlock</h3>
        <p class="title">Responder I</p>
        <div class="progress-bar">
            <p>10%</p>
        </div>
        </div>
        <div class="img-container">
            <div class="imgbox-scenario">
                <img src="../static/images/icon1.png" alt="">
                </div>
        </div>
        
        </div>
        
</div>







<hr>






































<H1 class="head-of-sec">Done Challenges</H1>

<div class="done-scenarios">



    <div class="challenges-div">
        <div class="done"><p>Done</p></div>
        <div class="challenges-text-box">
       <h3 >First Challenge</h3>
   <p class="challenges-title">This challenge is an extension for an existing '...</p>
   
       <div class="challenge-lvl">
           <p class="orange">Easy</p> <p class="red">20pt</p> <p class="green">10min</p>
   </div>

   </div>
   </div>
   


        

   <div class="challenges-div">
    <div class="done"><p>Done</p></div>
    <div class="challenges-text-box">
   <h3 >First Challenge</h3>
<p class="challenges-title">This challenge is an extension for an existing '...</p>

   <div class="challenge-lvl">
       <p class="orange">Easy</p> <p class="red">20pt</p> <p class="green">10min</p>
</div>

</div>
</div>









<div class="challenges-div">
    <div class="done"><p>Done</p></div>
    <div class="challenges-text-box">
   <h3 >First Challenge</h3>
<p class="challenges-title">This challenge is an extension for an existing '...</p>

   <div class="challenge-lvl">
       <p class="orange">Easy</p> <p class="red">20pt</p> <p class="green">10min</p>
</div>

</div>

</div>











<div class="challenges-div">
    <div class="done"><p>Done</p></div>
    <div class="challenges-text-box">
   <h3 >First Challenge</h3>
<p class="challenges-title">This challenge is an extension for an existing '...</p>

   <div class="challenge-lvl">
       <p class="orange">Easy</p> <p class="red">20pt</p> <p class="green">10min</p>
</div>

</div>
</div>









</div>
















{% endblock %}