{% extends "homepage/homelayout.html"%}
{% block content %}






<div class="challenge-container">
    <div>
    <div class="scenario-div">
        <div class="text-box">
            <h3 >1 Challenges left to unlock</h3>
        <p class="title">Challenger</p>
        <div class="progress-bar">
            <p>0%</p> 
        </div>
        </div>
        <div class="img-container">
            <div class="imgbox-scenario">
                <img src="../static/images/icon2.png" alt="">
                </div>
        </div>
        
        </div>








    <div class="search">
        <input type="text" placeholder="Search for scenarios">
    
      <div class="checkbox">
      
        <input type="checkbox" name="Easy" id="">
        <label for="Easy">Easy</label>
    
        <input type="checkbox" name="Medium" id="">
        <label for="Medium">Medium</label>
    
    
        <input type="checkbox" name="Hard" id="">
        <label for="Hard">Hard</label>
      </div>
      <input type="submit" value="submit">
    </div>
    
</div>


































<div class="challenges-sec">
    










<div class="challenges-div">
    <div class="challenges-text-box">
   <h3 >First Challenge</h3>
<p class="challenges-title">This challenge is an extension for an existing '...</p>

   <div class="challenge-lvl">
       <p class="orange">Easy</p> <p class="red">20pt</p> <p class="green">10min</p>
</div>
<button class="challenge-btn">Start Challenge</button>
</div>
</div>





<div class="challenges-div">
    <div class="challenges-text-box">
   <h3 >First Challenge</h3>
<p class="challenges-title">This challenge is an extension for an existing '...</p>

   <div class="challenge-lvl">
       <p class="orange">Easy</p> <p class="red">20pt</p> <p class="green">10min</p>
</div>
<button class="challenge-btn">Start Challenge</button>
</div>
</div>








<div class="challenges-div">
    <div class="challenges-text-box">
   <h3 >First Challenge</h3>
<p class="challenges-title">This challenge is an extension for an existing '...</p>

   <div class="challenge-lvl">
       <p class="orange">Easy</p> <p class="red">20pt</p> <p class="green">10min</p>
</div>
<button class="challenge-btn">Start Challenge</button>
</div>
</div>







</div>



</div>





{% endblock %}