{% extends "homepage/homelayout.html"%}
{% block content %}

<div class="l-r-container-home">
    <div class="left-home-div">

        <!-- first -->
    <div class=" p-20 bg-white rad-10 ">
        <div class="d-flex txt-c gap-20 f-wrap ">
    
            <div class=" box1 ">
    
                <div class="icon">
                    <a class="Investigation"></a> <i class="fas fa-user-secret"></i></a>
                </div>
    
                <br>
    
                <div class="info-home">
                    <div class="H1">
                        <H3>{{total_scenarios}} / 220 </H3>
                    </div>
                    <p>Investigation completed \Total</p>
                </div>
    
    
                <div class="P">
    
                </div>
    
    
            </div>
    
            <div class="box1">
    
                <div class="icon">
                    <a class="Challenges"><i class="fas fa-file-alt"></i></a>
                </div>
    
                <br>
    
                <div class="info-home">
                    <div class="H1">
                        <H3>{{total_challenges}} / 41</H3>
                    </div>
                    <p>Challenges completed \Total</p>
                </div>
    
            </div>
    
    
    
            <div class="box1">
    
                <div class="icon">
                    <a class="Your Points"> <i class="fas fa-star"></i></i></a>
                </div>
    
    
                <br>
    
    
                <div class="info-home">
                    <div class="H1">
                        <H3>0 / 6775 </H3>
                    </div>
                    <p>{{points}}\Total Points</p>
                </div>
    
                <div class="P">
    
                </div>
            </div>
    
    
    
            <div class=" box1">
    
                <div class="icon">
                    <a class="TBD "> <i class="fas fa-users"></i></a>
                </div>
    
                <br>
    
                <div class="info-home">
                    <div class="H1">
                        <H3> #TBD / 75619 </H3>
                    </div>
                    <p>Top TBD of Active Defenders</p>
                </div>
    
    
            </div>
        </div>
    </div>
    
    <!-- welcome -->
    <div class="container-home">
    
        <div class="h2"> </div>
    
    
    
    
        <div class="contant1">
            <h2 class="Welcome">Welcome to <span class="blue-text">Socademy Online</span>!</h2>
            <p>
                Please familiarise yourself with our <a href="#" class="link">Platform Rules</a>.
                This will ensure you're aware of our restrictions regarding publishing writeups,
                <br>
                sharing answers, and other activities.
            </p>
    
            <br>
    
    
            <p>
                Our platform is the perfect place for established cyber defenders to practice in realistic
                scenarios and showcase their skills
                <br>
                in a gamified and competitive environment. Paired with
                external training or self-study, BTLO can develop your technical capability to investigate and
                <br>
                defend against cyber attacks and intrusions.
                <br>
            </p>
    
            <br>
    
            <p>Good luck Defenders!</p>
    
            <br>
    
        </div>
    
        <div class="buttons">
            <a href="{{url_for('scenario')}}" class="btn blue" >View Investigations 🕵</a>
            <a href="{{url_for('challenges')}}" class="btn purple">View Challenges 📄</a>
            <a href="{{url_for('user_profile')}}" class="btn orange">View Your Profile 👤</a>

            <button class="btn red">Help / FAQ ❓</button>
        </div>
            
    </div>
    
    <!-- wheel -->
    
    <div class="chimera-container">
        <div class="chimera-content">
    
            <div class="png1">
                <img src="../../static/images/wheel.png" alt="Operation Chimera Logo" class="chimera-logo">
            </div>
    
    
            <div class="chimera-text">
                <h2>Operation Chimera - Coming <span class="blue-text">2025</span> !</h2>
                <p>
                    Op Chimera is a <strong>2-week</strong> long event within the BTLO platform where players will work in
                    <strong>teams</strong> or <strong>by themselves</strong>
                    <br>
                    to complete a number of labs and challenges all
                    taken from
                    the same compromise, piecing
                    <br>
                    together the actions the adversaries took by analysing logs, network
                    traffic,
                    security tooling, and
                    <br>
                    performing incident response.
                    <br>
                </p>
                <br>
    
                <p>
                    <strong>PRO</strong> players can purchase an <strong>'Operation Pass'</strong> to gain access to the
                    live event, and be eligible
                    for
                    <br>
                    <strong>physical rewards</strong> including <strong>the one-time-only metal challenge coin</strong>,
                    <br>
                    and <strong>digital rewards</strong>
                    including
                    <br>
                    the <strong>BTLO Op Chimera badge</strong>, which will be displayed in a unique location on
                    your profile.
                    <br>
                    There will be a new scoreboard for both individuals and teams during the event.
                    <br>
                </p>
                <br>
                <p>
                    After the event has ended, all related content will be retired and can be accessed by <strong>PRO
                        players for no additional fee.</strong>
                </p>
                <br>
            </div>
        </div>
        <div class="chimera-register">
            <p><strong>Register your interest</strong></p>
            <button class="btn blue">Register Interest</button>
        </div>
            
    </div>
    
    
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="right-home-div">
    
    <!-- discord -->
    <div class="discord-container">
        <p class="invite-text">Join our <span class="blue-text">Socademy</span> discord server here</p>
        <div class="discord-box">
            <img src="../../static/images/discord.jpg" alt="Discord Logo" class="discord-logo">
    
        </div>
    </div>
    
    
    
    <!-- container el sora -->
    
    
    <div class="container0">
        <div class="header">
            <h2>Public Socademy Demo Course</h2>
            <p>Get hands-on with the content of Socademy without paying a penny. See if it's the right move for your career
                today!</p>
        </div>
    
        <div class="content">
            <img src="../../static/images/blueteam.jpg" alt="BTL1 Logo" class="course-image">
        </div>
        <button class="demo-button">Access Demo Now!</button>
    </div>
    
    
    
    
    </div>
    

</div>



































{% endblock %}