{% extends "homepage/homelayout.html"%}
{% block content %}




<div class="info">
    <div class="name-img">
        <div class="imgbox-1">
            <img src="../static/images/me.jpg" alt="profile_pic" >   
        </div>
    <div class="name">
        <h1>Beshoy</h1>
        <p>Level:Begginer</p>
    </div>
    </div>



    <div class="points">
        
    <i class="fas fa-trophy"></i>
    <div class="n-points">
        <p class="n">0 </p>
        <p class="p-name">points</p>
      </div>

      <div class="n-points">
        <p class="n">0 </p>
        <p class="p-name">points</p>
      </div>
  

  <div class="n-points">
    <p class="n">0 </p>
    <p class="p-name">points</p>
  </div>
    </div>
</div>



<div class="Recent-progress">
<div class="recent">
    <h1>Recent Activity</h1>
    <hr class="recent-hr">
    <div class="scenario-box">
        <div class="scenario-img">
            <h3 class="scenario-title">Digital Forensics</h3>
        </div>
           
            
        <div class="Scenario-text-box">
        <p>FrostGuard is sending threats towards Cerulean Inc, mainly Jane's PC—the Head of Production. What is this bot planning?</p>
        <p>Most Defenders considered this Investigation <span>Easy</span> </p>
      <button class="scenario-btn">Start Scenario</button>
        </div>




        
        </div>
</div>
























<div class="progress">

    <h1>Progress</h1>
<hr class="recent-hr">
<div class="progress-div">
<p>Scenarios</p>
<p>1/20</p>
</div>

<div class="progress-div">
    <p>Challenges</p>
    <p>1/15</p>
    </div>

</div>






</div>

{% endblock %}