{% extends "homepage/homelayout.html"%}
{% block content %}
<div class="container">

    
<div class="scenario-div">
<div class="text-box">
    <h3 class="headofdiv">1 Scenarios left to unlock</h3>
<p class="title">Responder I</p>
<div class="progress-bar">
    <p>10%</p>
</div>
</div>
<div class="img-container">
    <div class="imgbox-scenario">
        <img src="../static/images/icon1.png" alt="">
        </div>
</div>

</div>





<div class="scenario-div">
    <div class="text-box">
        <h3 class="headofdiv">1 Scenarios left to unlock</h3>
    <p class="title">Responder I</p>
    <div class="progress-bar">
        <p>10%</p>
    </div>
    </div>
    <div class="img-container">
        <div class="imgbox-scenario">
            <img src="../static/images/icon2.png" alt="">
            </div>
    </div>
    
    </div>







    <div class="scenario-div">
        <div class="text-box">
            <h3 class="headofdiv">1 Scenarios left to unlock</h3>
        <p class="title">Responder I</p>
        <div class="progress-bar">
            <p>10%</p>
        </div>
        </div>
        <div class="img-container">
            <div class="imgbox-scenario">
                <img src="../static/images/icon3.png" alt="">
                </div>
        </div>
        
        </div>








        <div class="scenario-div">
            <div class="text-box">
                <h3 class="headofdiv">1 Scenarios left to unlock</h3>
            <p class="title">Responder I</p>
            <div class="progress-bar">
                <p>10%</p>
            </div>
            </div>
            <div class="img-container">
                <div class="imgbox-scenario">
                    <img src="../static/images/icon4.png" alt="">
                    </div>
            </div>
            
            </div>









            <div class="scenario-div">
                <div class="text-box">
                    <h3 class="headofdiv">1 Scenarios left to unlock</h3>
                <p class="title">Responder I</p>
                <div class="progress-bar">
                    <p>10%</p>
                </div>
                </div>
                <div class="img-container">
                    <div class="imgbox-scenario">
                        <img src="../static/images/icon5.png" alt="">
                        </div>
                </div>
                
                </div>







                        
                        </div>





</div>

























<div class="scenarios-container">

<div class="search">
    <input type="text" placeholder="Search for scenarios">

  <div class="checkbox">
  
    <input type="checkbox" name="Easy" id="">
    <label for="Easy">Easy</label>

    <input type="checkbox" name="Medium" id="">
    <label for="Medium">Medium</label>


    <input type="checkbox" name="Hard" id="">
    <label for="Hard">Hard</label>
  </div>
  <input type="submit" value="submit">
</div>



<div class="scenarios">

  
</div>

</div>










{% endblock %}