* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  color: white;
}

body {
  background-color: rgb(24, 51, 78);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  /* Or your header height */
  background-color: #123;
  color: white;
  text-align: center;
  line-height: 60px;
  z-index: 1000;
}
header h1{ font-size: 45px;
  background-image: url(../static/images/1917.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bolder;
  letter-spacing: 4px;
  margin-top: 8px;

}

main {
  display: flex;
  flex-flow: row;
  height: 100vh;
  background-color: rgb(24, 51, 78);
  padding-top: 60px;
}

.menu {
  width: 56px;
  min-width: 50px;
  /* Ensure a minimum width */
  max-width: 260px;
  background-color: #123;
  height: 94vh;
  /* Fill the main height */
  padding: 20px 0;
  transition: width 0.3s;
  position: fixed;
  /* No longer fixed */
  overflow-x: hidden;
  /* Add scroll if menu content overflows */
  display: block;
}

.menu:hover {
  width: 260px;
  padding: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.imgbox {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
}

.imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name {
  display: none;
  color: white;
  font-size: 18px;
  white-space: nowrap;
  /* Prevent content from wrapping */
}

.menu:hover .profile-name {
  display: inline;
}

.menu-list {
  list-style: none;
  width: 100%;
  padding: 0;
}

.menu-list li {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.menu-list li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  /* Prevent content from wrapping */
}

.menu-list li a i {
  font-size: 24px;
  min-width: 30px;
  text-align: center;
  margin-right: 1px;
}

.logout {
  position: absolute;
  bottom: 0;
  width: 80%;
}

.logout a {
  background-color: rgb(94, 26, 26);
}

ul li a:hover,
.active,
.datasection .box:hover,
td:hover {
  background-color: #ffffff55;
  transition: .5s;
}

ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 40px;
}


h1 {
  color: #333;
}

p {
  color: #fff;
  display: block;
  font-size: 20px;
  padding: 50px;
  line-height: 40px;
}

h4 {
  color: white;
  font-size: 40px;
}

img {
  display: block;
  margin: 0 auto;
}

.home-wrapper {
  margin-top: 60px;
  margin-left: 133px;
  margin-right: 85px;
  padding: 30px 20px;
  background-color: rgb(17, 61, 106);
  border: #fff 2px solid;
}

.machine-button {
  height: 40px;
  width: 150px;
  display: block;
  background-color: red;
  color: white;
  border: #fff 2px solid;
  border-radius: 10px;
  margin: 20px 0;
}

.alerts {
  width: 100vh;
}

.alerts li {
  font-size: 20px;
  padding: 20px;
}

.about {
  width: 100vh;
}

.about li {
  font-size: 18px;
  padding: 20px;
}

.contactus p {
  font-size: 18px;
  padding: 10px;
}

.Network-img {
  height: 400px;
  width: 400px;
  margin-bottom: 50px;
}

.network-wrapper {
  padding: 35px 550px;
  background-color: rgb(17, 61, 106);
  border: #fff 2px solid;
  margin-top: 50px;
  margin-left: 205px;
}

.network-form input,
option,
select {
  color: black;

}

.scenarios-wrapper {
  width: fit-content;
  padding: 60px 470px;
  background-color: rgb(17, 61, 106);
  border: #fff 2px solid;
  margin-top: 60px;
  margin-left: 133px;


}

.scenario-name {
  position: relative;
  left: 760px;
  top: 60px;
  max-width: fit-content;


}

section {
  width: fit-content;
}

.scenario-square {
  width: 120px;
  height: 120px;
  background-color: rgb(59, 59, 219);
  text-align: center;
  border: 3px rgb(222, 209, 209) solid;
  align-content: center;
}

.scenarios-container {
  display: flex;
  gap: 150px;
  position: relative;
  right: 230px;
}

.navigate-button {
  font-size: 40px;
  background-color: transparent;
  color: white;
  border: none;
}
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1e1e2f; /* Background color of the track */
  border-radius: 8px;
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: rgb(17, 61, 106); /* Color of the scrollbar thumb */
  border-radius: 8px;
}
.about-wrapper{
  width: fit-content;
  padding: 60px 60px;
  background-color: rgb(17, 61, 106);
  border: #fff 2px solid;
  margin-top: 60px;
  margin-left: 133px;
}
.alert-wrapper{
  width: fit-content;
  padding: 60px 370px;
  background-color: rgb(17, 61, 106);
  border: #fff 2px solid;
  margin-top: 60px;
  margin-left: 133px;
}
.as1{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: fixed;
    left: 755px;
}
.box{
  position: relative;
  width: 380px;
  height: 600px;
  background-color: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.box::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(0deg,transparent,
  transparent,#45f3ff,#45f3ff,#45f3ff);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

.borderline{
  position: absolute;
  top: 0;
  inset: 0;
}
.borderline::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}

.borderline::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}
@keyframes animate{
  0%
  {
   transform: rotate(0deg)
}
100%{
  transform: rotate(360deg)
}
}
.box form{
  position: absolute;
  inset: 4px;
  background-color: #123;
  padding: 50px 40px;
  border-radius: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.box form h2{
  color: #fff;
  font-weight: 500;
  text-align:center;
}

.box form .inputbox{
  position: relative;
 width: 300px;
 margin-top: 40px;
}

.box form .inputbox input{
  position: relative;
  width: 100%;
  padding: 20px 8px 10px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
  color: white;
} 


.box form .inputbox span{
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.box form .inputbox input:valid ~ span,
.box form .inputbox input:focus ~ span{
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-34px);
}

.box form .inputbox i{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgb(24, 51, 78);
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
  
}

.box form .inputbox input:valid ~ i,
.box form .inputbox input:focus ~ i{
  height: 44px;
}

.box form  input[type="submit"]{
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #fff;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 600;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  position: relative;
  left: 75px;
  top: 30px;
  background-color: rgb(24, 51, 78);
}

.box form  input[type="submit"]:active{
  opacity: 0.8;
}