{% extends "layout.html"%}
{% block content %}
<div class="about-wrapper"> <section>
    <h2>Project Overview</h2>
    <p>The SOC Simulation project helps users simulate and analyze different System on Chip configurations, test performance, and troubleshoot potential issues in real-time.</p>
  </section>

  <section>
    <h2>Meet the Team</h2>
    <ul class="about">
      <li>John Doe - Frontend Developer</li>
      <li>Jane Smith - Backend Developer</li>
      <li>Emily Zhang - Network Specialist</li>
    </ul>
  </section>

  <section class="contactus">
    <h2>Contact Us</h2>
    <p>Email: support@socsimulation.com</p>
    <p>Phone: +123 456 7890</p>
  </section></div>
{% endblock %}