{% extends "layout.html"%}
{% block content %}

<div class="scenarios-wrapper"> 
  <section>
  <h2 class="scenario-name">Pen-Block Defense</h2>
  
  <div class="scenarios-container">
    <button class="navigate-button">◀</button>
    <div class="scenario-square">first class</div>
  <div class="scenario-square">second class</div>
  <button class="navigate-button">▶</button>
  </div>
  
  </section>
 </div>
<div class="scenarios-wrapper"> 
  <section>
  <h2 class="scenario-name">Access Guard</h2>
  
  <div class="scenarios-container">
    <button class="navigate-button">◀</button>
    <div class="scenario-square">first class</div>
  <div class="scenario-square">second class</div>
  <button class="navigate-button">▶</button>
  </div>
  
  </section>
 </div>
<div class="scenarios-wrapper"> 
  <section>
  <h2 class="scenario-name">LockDown Simulation</h2>
  
  <div class="scenarios-container">
    <button class="navigate-button">◀</button>
    <div class="scenario-square">first class</div>
  <div class="scenario-square">second class</div>
  <button class="navigate-button">▶</button>
  </div>
  
  </section>
 </div>
<div class="scenarios-wrapper"> 
  <section>
  <h2 class="scenario-name">Breach Sentinel</h2>
  
  <div class="scenarios-container">
    <button class="navigate-button">◀</button>
    <div class="scenario-square">first class</div>
  <div class="scenario-square">second class</div>
  <button class="navigate-button">▶</button>
  </div>
  
  </section>
 </div>

{% endblock %}